@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
	@apply overflow-x-hidden bg-black text-white selection:bg-white selection:text-black;
	font-family: 'IBM Plex Mono', monospace;
}

button,
.btn {
	@apply flex min-w-24 cursor-pointer select-none appearance-none items-center justify-center border border-dashed border-[#2c2c2c] bg-[#191919] px-5 py-2.5 text-lg text-white shadow-xl shadow-black/35 hover:bg-[#2c2c2c] active:bg-[#141414];
}

iconify-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

@keyframes hero-in-right {
	0% {
		opacity: 0;
		transform: translateX(120px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes hero-in-left {
	0% {
		opacity: 0;
		transform: translateX(-120px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
